// 34c3 dark (2017)
// Variables
// --------------------------------------------------

//== changed Colors

$gray-dark:    #282828;
$gray-light:   #888;
$gray-darker:  #222;
$gray-lighter: #ADAFAE;

$brand-primary: rgb(164, 28, 49);
$primary:       rgb(164, 28, 49);
$brand-success: rgb(153, 204, 0);
$success:       rgb(153, 204, 0);
$brand-info:    rgb(0, 204, 255);
$info:          rgb(0, 204, 255);
$brand-warning: rgb(255, 255, 51);
$warning:       rgb(255, 255, 51);
$brand-danger:  rgb(255, 102, 0);
$danger:        rgb(255, 102, 0);

.label.label-warning, .progress-bar.progress-bar-warning {
  color: #000;
}


//== changed Buttons

$btn-color:                      #fff;
$btn-default-bg:                 lighten($gray-dark, 10%);

$btn-primary-border:             darken($btn-default-bg, 10%);

$btn-success-border:             $btn-primary-border;

$btn-info-border:                $btn-primary-border;

$btn-warning-border:             $btn-primary-border;

$btn-danger-border:              $btn-primary-border;

$btn-link-disabled-color:        $gray-light;


//== changed Forms

$input-bg:                       $gray-darker;

$input-bg-disabled:              $gray-lighter;

$input-group-addon-bg:           $gray-lighter;


//== changed Pagination

$pagination-hover-color:               #fff;

$pagination-active-color:              #fff;


//== changed Form states and alerts

$state-success-text:             #fff;
$state-success-bg:               $brand-success;
$state-success-border:           darken($state-success-bg, 5%);

$state-info-text:                #fff;
$state-info-bg:                  $brand-info;
$state-info-border:              darken($state-info-bg, 7%);

$state-warning-text:             #000;
$state-warning-bg:               $brand-warning;
$state-warning-border:           darken($state-warning-bg, 3%);

$state-danger-text:              #fff;
$state-danger-bg:                $brand-danger;
$state-danger-border:            darken($state-danger-bg, 3%);


//== changed List group

$list-group-bg:                 darken($gray-darker, 10%);


//== changed Panels

$panel-bg:                    darken($gray-darker, 10%);

$panel-default-heading-bg:    darken($gray-darker, 5%);


//== changed Badges

$badge-color:                 #fff;


//== changed Type

$headings-small-color:        $gray-light;


// Bootswatch
// -----------------------------------------------------

@import "cyborg_variables.scss";
@import "cyborg_styles.scss";

// Typography =================================================================

.text-primary,
.text-primary:hover,
a.text-primary,
a.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover,
a.text-success,
a.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover,
a.text-danger,
a.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover,
a.text-warning,
a.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover,
a.text-info,
a.text-info:hover {
  color: $brand-info;
}

// added Forms ======================================================================

.input-group-addon {
  background-color: $btn-default-bg;
}

// different code tag
code {
  background-color: $input-bg;
  color: $input-color;
}
