// high contrast
// Variables
// --------------------------------------------------

//== Colors

$gray-dark:    #282828;
$gray-darker:  #222;
$gray-light:   #888;
$gray-lighter: #ADAFAE;

$brand-primary: #72abfa;
$primary:       $brand-primary;
$brand-success: #5cb85c;
$success:       $brand-success;
$brand-info:    #5bc0de;
$info:          $brand-info;
$brand-danger:  #d9534f;
$danger:        $brand-danger;
$brand-warning: #f0ad4e;
$warning:       $brand-warning;

//== Scaffolding

$body-bg:               #000;
$text-color:            #fff;

//== Buttons

$btn-color:                      #fff;
$btn-default-bg:                 lighten($gray-dark, 10%);

$btn-primary-color:              #000;
$btn-primary-border:             darken($btn-default-bg, 10%);

$btn-success-color:              #000;
$btn-success-border:             darken($btn-default-bg, 10%);

$btn-info-color:                 #000;
$btn-info-border:                darken($btn-default-bg, 10%);

$btn-warning-color:              #000;
$btn-warning-border:             darken($btn-default-bg, 10%);

$btn-danger-color:               #000;
$btn-danger-border:              darken($btn-default-bg, 10%);



//== Forms

$input-bg:                       $gray-darker;
$input-bg-disabled:              $gray-lighter;

$input-group-addon-bg:           $gray-lighter;


//== Pagination

$pagination-hover-color:               #fff;


//== Labels

$label-default-bg:            lighten($btn-default-bg, 20%);
$label-color:                 #000;
$label-link-hover-color:      #000;


//== Type

$text-muted:                  $gray-lighter;
$abbr-border-color:           $gray-lighter;
$headings-small-color:        $gray-lighter;

// Bootswatch
// -----------------------------------------------------
@import "cyborg_variables.scss";
@import "cyborg_styles.scss";

// Typography =================================================================

.text-danger,
.text-danger:hover {
  color: lighten($brand-danger, 10%);
}

// Forms ======================================================================

.legend {
  margin-top: 20px;
}

.input-group-addon {
  background-color: $btn-default-bg;
}


// Containers =================================================================

.panel-info .panel-title {
  color: #000;
}

// code tag
code {
  background-color: $btn-default-bg;
  color: $input-color;
}
