// 34c3 light (2017)

$brand-primary: rgb(164, 28, 49);
$primary: rgb(164, 28, 49);
$brand-success: rgb(153, 204, 0);
$success: rgb(153, 204, 0);
$brand-info:    rgb(0, 204, 255);
$info:    rgb(0, 204, 255);
$brand-warning: rgb(255, 255, 51);
$warning: rgb(255, 255, 51);
$brand-danger:  rgb(255, 102, 0);
$danger:  rgb(255, 102, 0);

$link-color:            $brand-primary;

$state-success-text:             darken($brand-success,40%);
$state-success-bg:               lighten($brand-success,40%);
$state-success-border:           $brand-success;

$state-info-text:                darken($brand-info,40%);
$state-info-bg:                  lighten($brand-info,40%);
$state-info-border:              $brand-info;

$state-warning-text:             darken($brand-warning,40%);
$state-warning-bg:               $brand-warning;
$state-warning-border:           darken($brand-warning,40%);

$state-danger-text:              darken($brand-danger,40%);
$state-danger-bg:                lighten($brand-danger,40%);
$state-danger-border:            $brand-danger;

.label.label-warning {
  color: #000;
}

@import "base.scss";
