// dark
@import "cyborg_variables";

// Variables
// --------------------------------------------------

//== changed Colors

$gray-dark:              #282828;   // #333
$gray-light:             #888;   // #999
$gray-lighter:           #ADAFAE; // #eee

$primary:         #428bca;
$success:         #5cb85c;
$info:            #5bc0de;
$warning:         #f0ad4e;


//== changed Buttons

$btn-default-color:              #fff;
$btn-default-bg:                 lighten($gray-dark, 10%);

$btn-primary-border:             darken($btn-default-bg, 10%);
$btn-success-border:             $btn-primary-border;
$btn-info-border:                $btn-primary-border;
$btn-warning-border:             $btn-primary-border;
$btn-danger-border:              $btn-primary-border;

$btn-link-disabled-color:        $gray-light;


//== changed Forms

$input-bg:                       $gray-darker;
$input-bg-disabled:              lighten($gray-lighter,15%);
$input-group-addon-bg:           $gray-lighter;


//== changed Pagination

$pagination-hover-color:               #fff;
$pagination-active-color:              #fff;


//== changed Form states and alerts

$state-success-text:             #fff;
$state-success-bg:               $success;
$state-success-border:           darken($state-success-bg, 5%);

$state-info-text:                #fff;
$state-info-bg:                  $info;
$state-info-border:              darken($state-info-bg, 7%);

$state-warning-text:             #fff;
$state-warning-bg:               $warning;
$state-warning-border:           darken($state-warning-bg, 3%);

$state-danger-text:              #fff;
$state-danger-bg:                $danger;
$state-danger-border:            darken($state-danger-bg, 3%);


//== changed Badges

$badge-color:                 #fff;
$badge-link-hover-color:      #fff;


//== changed Type

$headings-small-color:        $gray-light;


// Bootswatch
// -----------------------------------------------------
@import "cyborg_styles";

// added Forms ======================================================================

.input-group-addon {
  background-color: $btn-default-bg;
}

// different code tag
code {
  background-color: $state-info-bg;
  color: $state-info-text;
}
