<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.0/phpunit.xsd"
	bootstrap="../includes/engelsystem_provider.php" colors="true"
	convertErrorsToExceptions="true" convertNoticesToExceptions="true"
	convertWarningsToExceptions="true" forceCoversAnnotation="false">
	<testsuites>
		<testsuite name="Models">
			<directory>model</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="PHPUNIT_TESTSUITE" value="true" />
	</php>
</phpunit>
