{% extends "errors/default.twig" %}

{% block title %}{{ __("Page not found") }}{% endblock %}

{% block content_container %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 error-big">
            <h2>
                4<span class="pulse">:</span>{{ status|slice(1, 2) }}
                <small class="text-muted">{{ __("No sleep found") }}</small>
            </h2>

            {% block content_text %}
                {{ __(content) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
