{% extends "errors/default.twig" %}

{% block title %}{{ __("Authentication expired") }}{% endblock %}

{% block content %}
    <div class="alert alert-warning">{{ __("The provided CSRF token is invalid or has expired") }}</div>
{% endblock %}
