{% extends "errors/default.twig" %}

{% block title %}{{ __('page.419.title') }}{% endblock %}

{% block content %}
    <div class="alert alert-warning" role="alert">{{ __('page.419.text') }}</div>
{% endblock %}
