{
  "presets": [["@babel/preset-env", {
      "targets": {
        "chrome": 45,
        "firefox": 42,
        "safari": 9,
        "opera": 32,
        "edge": 12,
        "ios": 9
      },
      "loose": false,
      "useBuiltIns": "entry"
      }]
    ],
  "plugins": [
  ]
}
