# Docker config
docker/
!docker/entrypoint.sh
!docker/nginx.conf
!docker/config/

# Configuration
config/config.php

# Files
.dockerignore
*.git*
.editorconfig
deployment.tpl.yaml
storage/cache/
!storage/cache/.gitignore
!storage/cache/views/.gitignore
