# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org
# https://github.com/editorconfig/specification/blob/master/index.rst

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[{.babelrc,package.json,composer.json}]
indent_size = 2

[docker/**.conf]
indent_size = 2

[*.{htm,html,twig}]
indent_size = 4
max_line_length = unset

[*.{js,css,less,sass,scss}]
indent_size = 2

[*.js]
indent_size = 2
max_line_length = unset
quote_type = single

[{LICENSE,db/*.sql}]
indent_size = unset

[*.md]
trim_trailing_whitespace = false
indent_size = 2
max_line_length = unset

[*.php]
indent_size = 4

[*.sh]
indent_size = 2

[{db/*.sql,includes/**,*.json}]
max_line_length = unset

[*.{yml,yaml}]
indent_size = 2

# Ignore for
[{*.mo,*LICENSE*,*License*}]
charset = unset
end_of_line = unset
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
