[submodule "vendor/parsedown"]
	path = vendor/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "vendor/select2"]
	path = vendor/select2
	url = https://github.com/select2/select2.git
