# Generic cache files
*~
.~*
*.tmp
*.temp
*.lock
*.DS_Store
.*.swp
*.out
*.cache
Thumbs.db
.project
.buildpath
.settings
_vimrc_local.vim
.sass-cache

# PHPstorm files
/.idea/
/.phpstorm.meta.php

# Project files
/config/config.php
/test/coverage
/public/coverage
/coverage
/unittests.xml

# Composer files
/vendor/
/composer.lock

# Frontend files
/node_modules
/public/assets
/package-lock.json
