# Generic cache files
*~
.~*
*.tmp
*.temp
*.lock
*.DS_Store
.*.swp
*.out
Thumbs.db
.project
.buildpath
.settings
_vimrc_local.vim
.sass-cache

# PHPstorm config
/.idea/

# Project files
/config/config.php
/test/coverage

# Composer files
/vendor/
/composer.lock
