<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./includes/autoload.php"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./include/</directory>
            <directory>./public/</directory>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>
