* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    sans-serif;
    font-size:
    14px;
}

header {
    display: block;
    width: 100%;
}

article, details {
    clear: none;
    display: block;
    float: none;
}

footer {
    clear: both;
    display: block;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 10px auto;
}

#logo {
    background: url('../pic/himmel.png') top left no-repeat;
    display: block;
    height: 32px;
    margin: 10px auto;
    width: 380px;
}

#body {
    margin: 0 5%;
}

#menu {
    float: left;
    width: 200px;
}

#content {
    margin-left: 200px;
}

a {
    color: #000;
}

th, td, dt, dd {
    padding: 4px;
	vertical-align: top;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}

h1, h2, h3, h4 {
    font-size: 16px;
    padding: 0 4px;
}

hr {
    margin: 10px 0;
}

ul {
    padding: 5px 0 5px 20px;
}

nav {
    margin: 0 10px 10px 0;
}

#content > article {
    padding: 10px;
}

p {
    padding: 0 0 10px 0;
}

#menu p {
    padding: 4px;
}

a.sprache img {
    margin-right: 5px;
}

table {
    border-collapse: collapse;
	margin-top: 5px;
}

fieldset hr {
	background-color: #f0f0f0;
	border: none;
	color: #f0f0f0;
	height: 1px;
	margin: 0;
	padding: 0;
}

fieldset table {
	margin: 4px;
}

fieldset p {
	clear: both;
	margin: 4px;
	min-height: 23px;
}

fieldset p label {
	display: block;
	float: left;
	width: 200px;
}

fieldset p label[for] {
	width: auto;
}

fieldset p label input {
	float: right;
	margin: 2px 10px 0 0;
}

th {
    background: #f0f0f0;
    vertical-align: bottom;
}

td, th {
    border: 1px solid #888;
}

td.true, td.false {
	color: transparent;
}

td.true {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGrSURBVDjLvZPZLkNhFIV75zjvYm7VGFNCqoZUJ+roKUUpjRuqp61Wq0NKDMelGGqOxBSUIBKXWtWGZxAvobr8lWjChRgSF//dv9be+9trCwAI/vIE/26gXmviW5bqnb8yUK028qZjPfoPWEj4Ku5HBspgAz941IXZeze8N1bottSo8BTZviVWrEh546EO03EXpuJOdG63otJbjBKHkEp/Ml6yNYYzpuezWL4s5VMtT8acCMQcb5XL3eJE8VgBlR7BeMGW9Z4yT9y1CeyucuhdTGDxfftaBO7G4L+zg91UocxVmCiy51NpiP3n2treUPujL8xhOjYOzZYsQWANyRYlU4Y9Br6oHd5bDh0bCpSOixJiWx71YY09J5pM/WEbzFcDmHvwwBu2wnikg+lEj4mwBe5bC5h1OUqcwpdC60dxegRmR06TyjCF9G9z+qM2uCJmuMJmaNZaUrCSIi6X+jJIBBYtW5Cge7cd7sgoHDfDaAvKQGAlRZYc6ltJlMxX03UzlaRlBdQrzSCwksLRbOpHUSb7pcsnxCCwngvM2Rm/ugUCi84fycr4l2t8Bb6iqTxSCgNIAAAAAElFTkSuQmCC') no-repeat center center;
}

td.false {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIhSURBVDjLlZPrThNRFIWJicmJz6BWiYbIkYDEG0JbBiitDQgm0PuFXqSAtKXtpE2hNuoPTXwSnwtExd6w0pl2OtPlrphKLSXhx07OZM769qy19wwAGLhM1ddC184+d18QMzoq3lfsD3LZ7Y3XbE5DL6Atzuyilc5Ciyd7IHVfgNcDYTQ2tvDr5crn6uLSvX+Av2Lk36FFpSVENDe3OxDZu8apO5rROJDLo30+Nlvj5RnTlVNAKs1aCVFr7b4BPn6Cls21AWgEQlz2+Dl1h7IdA+i97A/geP65WhbmrnZZ0GIJpr6OqZqYAd5/gJpKox4Mg7pD2YoC2b0/54rJQuJZdm6Izcgma4TW1WZ0h+y8BfbyJMwBmSxkjw+VObNanp5h/adwGhaTXF4NWbLj9gEONyCmUZmd10pGgf1/vwcgOT3tUQE0DdicwIod2EmSbwsKE1P8QoDkcHPJ5YESjgBJkYQpIEZ2KEB51Y6y3ojvY+P8XEDN7uKS0w0ltA7QGCWHCxSWWpwyaCeLy0BkA7UXyyg8fIzDoWHeBaDN4tQdSvAVdU1Aok+nsNTipIEVnkywo/FHatVkBoIhnFisOBoZxcGtQd4B0GYJNZsDSiAEadUBCkstPtN3Avs2Msa+Dt9XfxoFSNYF/Bh9gP0bOqHLAm2WUF1YQskwrVFYPWkf3h1iXwbvqGfFPSGW9Eah8HSS9fuZDnS32f71m8KFY7xs/QZyu6TH2+2+FAAAAABJRU5ErkJggg==') no-repeat center center;
}

.rotate {
	/* this is a hack because the height of the row isn't adjusted automatically */
	height: 6em;
}

.rotate div {
	transform: rotate(270deg);
	width: 1ex;
	margin: 0 auto -2px;
	-webkit-transform: rotate(270deg);
	padding: 0 3px;
	white-space: nowrap;
}

textarea {
	font-family: inherit;
	font-size: inherit;
    height: 200px;
	padding: 2px;
    width: 300px;
}

.hidden {
	background: #fff;
	border: 1px solid #888;
	display: none;
	font-size: 12px;
	padding: 4px;
}

td .hidden {
	position: absolute;
}

tr:hover .hidden {
	display: block;
}

.clear {
    clear: both;
}

.pagination {
    text-align: center;
}

.background {
    background: #f0f0f0;
}

.container {
    border: 1px solid #888;
}

.content {
    background: #fff;
}

.error, .info, .success {
	background: #f0f0f0;
	border: 1px solid #888;
	border-radius: 2px;
	color: #000;
	margin-bottom: 10px;
	padding: 5px;
}

.error {
	background: #f99;
	border-color: #900;
}

.success {
	background: #9f9;
	border-color: #090;
}

.new_message {
    font-weight: bold;
}

.news_comment, .news {
    border: 1px solid #888;
    margin: 10px 0;
}

.news_comment details, .news details {
    background: #f0f0f0;
    padding: 4px;
}

.news_comment p, .news p, h3 {
    padding: 4px;
}

.news_comment p, .news_comment details {
    margin-left: 72px;
}

.avatar {
    float: left;
    margin: 4px;
    max-width: 64px;
}

.news.meeting {
    border: 1px solid #000;
    box-shadow: 1px 1px 5px #888;
}

.done {
	text-decoration: line-through;
}

.spinner a {
	background: #f0f0f0;
	border: 1px solid #888;
	padding: 1px 5px;
	text-decoration: none;
}

.spinner input {
	border: 1px solid #888;
	border-left: none;
	border-right: none;
	padding: 3px 3px 1px 3px;
	margin: 0;
	text-align: right;
	width: 42px;
}

.toolbar {
	margin: 0 0 10px 0;
}

.button {
	background: #f0f0f0;
	border: 1px solid #888;
	border-radius: 4px;
	line-height: 25px;
	padding: 2px 5px;
	text-decoration: none;
	white-space: nowrap;
}

.button.on {
	color: #fff;
	background: #444;
}

.button:hover {
	color: #000;
	background: #fff;
}


.form {
	border: 1px solid #888;
	border-radius: 2px;
	margin: 10px 0;
	padding: 10px 10px 0 10px;
}

.form_element {
	/* clear: left; */
	min-height: 32px;
	margin-bottom: 10px;
}

.form_label {
	display: block;
	float: left;
	width: 250px;
}

.form_input {
	margin-left: 250px;
}

.form input[type="text"], .form input[type="password"], .form textarea {
	background: #fff;
	border: 1px solid #888;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	padding: 2px;
	width: 350px;
}

.form input[disabled="disabled"] {
	background: #f0f0f0;
	color: #999;
}

.form input[type="submit"] {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}

.form input[type="checkbox"] {
	margin-right: 10px;
}

.form ul {
	list-style: none;
}

.selection ul {
	list-style: none;
	padding: 0;
}

.selection.rooms,
.selection.days,
.selection.types,
.selection.filled {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}

#filter {
	padding: 10px;
}

td .entries img {
	vertical-align: bottom;
}
