#logo {
    background: url('../pic/engelsystem_logo_cccamp2011.png') top left no-repeat;
    display: block;
    height: 69px;
    margin: 10px auto;
    width: 523px;
}

tr:hover > td {
	background: #f0f0f0;
}