body.background {
	background: #000532;
}

footer, footer a {
  color: #fff;
}

#body {
	background: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 20px;
  margin: 0 20px;
}

.content {
	background: transparent;
}

#logo {
    background: url('../pic/engelsystem_logo_29c3.png') top left no-repeat #fff;
    display: block;
    height: 100px;
    margin: 10px;
    width: 900px;
}

tr:hover > td {
	background: #f0f0f0;
}

.selection ul li.heading {
	text-align: center;
	font-weight: bold;
}

.selection ul li:nth-child(even) {
	background: #f0f0f0;
}

.error {
  background: #fff;
  border-color: #ed1a3b;
  color: #ed1a3b;
  font-weight: bold;
}

.success {
  background: #fff;
  border-color: rgb(0, 178, 107);
  color: rgb(0, 178, 107);
  font-weight: bold;
}