body {
	background-color: #222;
	color: #bbb;
}

header {
  background-image: url('../pic/header_30c3.png');
}

details,.news_comment details, .news details {
	background-color: #333;
}

#logo {
	background-image: url('../pic/engelsystem_logo_30c3.png');
}

a {
	color: #fff;
}

#menu li.selected a,#menu li a:hover
	{
	color: #0094B3;
}

.toolbar a.selected, .toolbar a:hover {
	color: #000;
}

.form input[type="text"],.form input[type="password"],.form textarea {
	background-color: #333;
}

.error,.success,.info {
	color: #fff;
	background-color: #333;
}

th,.hidden {
	background-color: #333;
}

tr:hover>td {
	background-color: #333;
}

.selection ul li:nth-child(2n) {
	background-color: #333;
}

#shifts {
	background-color: #222;
}

#shifts td.free {
	background-color: #322;
}

#shifts td.occupied {
  background-color: #232;
}

#shifts td.own {
  background-color: #223;
}

#shifts td.collides {
  background-color: #333;
}

a.button {
	background-color: #000;
}