#logo {
    background: url('../pic/engelsystem_logo_28c3.png') top left no-repeat;
    display: block;
    height: 69px;
    margin: 10px auto;
    width: 378px;
}

tr:hover > td {
	background: #f0f0f0;
}

.selection ul li.heading {
	text-align: center;
	font-weight: bold;
}

.selection ul li:nth-child(even) {
	background: #f0f0f0;
}
