{% extends "pages/password/reset.twig" %}
{% import 'macros/base.twig' as m %}
{% import 'macros/form.twig' as f %}

{% block row_content %}
    <div class="col-md-8">
        <form action="" enctype="multipart/form-data" method="post">
            {{ csrf() }}

            {{ f.input('password', __('Password'), 'password', {'min': min_length, 'required': true}) }}
            {{ f.input('password_confirmation', __('Confirm password'), 'password', {'min': min_length, 'required': true}) }}

            {{ f.submit(__('Save')) }}
        </form>
    </div>
{% endblock %}
