// eh22-base

// Variables ==================================================================

$body-color: $color-fg;
$body-bg: $color-bg;
$border-color: $color-shade-bg-2;

$table-bg: $color-bg;
$table-bg-accent: $color-shade-bg-1;
$table-bg-hover: $color-shade-bg-2;
$table-bg-active: $color-shade-bg-2;
$table-border-color: $color-shade-neutral;

$text-color: $color-fg;
$text-muted: $color-shade-fg-2;

$btn-link-disabled-color: $color-shade-fg-2;

$dropdown-bg: $color-shade-bg-1;
$dropdown-link-hover-color: $body-bg;

//== changed Forms

$input-bg: $color-shade-bg-1;
$input-border-color: $color-shade-bg-2; // TODO
$input-group-addon-bg: $input-bg;
$input-disabled-bg: $body-bg;
$input-disabled-color: $color-shade-neutral;
$input-disabled-border-color: $color-shade-bg-1;

$form-check-input-border: 1px solid $color-shade-neutral;
$form-switch-color: $color-shade-neutral;

//== changed Pagination

$pagination-hover-color: $color-shade-fg-1;
$pagination-active-color: $color-shade-fg-1;

//== changed Form states and alerts

$state-success-text: $body-color;
$state-success-bg: $success;
$state-success-border: darken($state-success-bg, 5%);

$state-info-text: $body-color;
$state-info-bg: $info;
$state-info-border: darken($state-info-bg, 7%);

$state-warning-text: $body-color;
$state-warning-bg: $warning;
$state-warning-border: darken($state-warning-bg, 3%);

$state-danger-text: $body-color;
$state-danger-bg: $danger;
$state-danger-border: darken($state-danger-bg, 3%);

$headings-small-color: $color-shade-fg-2;

$alert-bg-scale: 0%;
$alert-border-scale: 0%;
$alert-color-scale: 0%;

//== Navs

$nav-tabs-link-active-border-color: $color-shade-bg-2;

$nav-tabs-link-active-color: $color-shade-bg-1;
$nav-pills-link-active-color: $color-shade-bg-1;

$popover-bg: $color-shade-bg-2;

//== Pagination

$pagination-color: $color-shade-fg-1;
$pagination-border-color: $color-shade-bg-2;

$pagination-hover-color: $body-bg;
$pagination-hover-border-color: $color-shade-bg-2;

$pagination-active-color: $body-bg;
$pagination-active-border-color: $color-shade-bg-2;

$pagination-disabled-color: $color-shade-fg-2;
$pagination-disabled-border-color: $color-shade-bg-2;

@import '../cyborg_variables';
@import '../cyborg_styles';

//== Typography

@font-face {
  font-family: 'Athiti';
  font-weight: 700;
  src: url('athiti/Athiti-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Athiti';
  font-weight: 600;
  src: url('athiti/Athiti-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Athiti';
  font-weight: 500;
  src: url('athiti/Athiti-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Athiti';
  font-weight: 400;
  src: url('athiti/Athiti-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Athiti';
  font-weight: 300;
  src: url('athiti/Athiti-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Athiti';
  font-weight: 200;
  src: url('athiti/Athiti-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Departure Mono';
  src: url('departuremono/DepartureMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Argon Glow';
  font-weight: 100;
  src: url('argonglow/ArgonGlow-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Argon Glow';
  font-weight: 200;
  src: url('argonglow/ArgonGlow-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Argon Glow';
  font-weight: 300;
  src: url('argonglow/ArgonGlow-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Argon Glow';
  font-weight: 400;
  src: url('argonglow/ArgonGlow-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Argon Glow';
  font-weight: 500;
  src: url('argonglow/ArgonGlow-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Argon Glow';
  font-weight: 600;
  src: url('argonglow/ArgonGlow-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Argon Glow';
  font-weight: 700;
  src: url('argonglow/ArgonGlow-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Argon Glow';
  src: url('argonglow/ArgonGlow-VariableVF.woff2') format('woff2');
  font-weight: 100 900;
}

body {
  font-family: 'Athiti', ui-sans, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: 'Argon Glow', ui-sans, sans-serif;
  font-weight: 400;
  margin: 1rem 0;
  color: var(--color-foreground);
}

pre,
code,
pre code {
  font-family: 'Departure Mono', ui-monospace, monospace;
  font-size: 0.8em;
}

// Component Stling ============================================================

a {
  color: var(--color-accent-1);
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: var(--color-accent-3);
    text-decoration: none;
  }

  &:visited {
    color: var(--color-accent-2);
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-accent-3);
      text-decoration: none;
    }
  }
}

.btn,
a.btn,
button.btn,
btn-group > .btn,
btn-group > a.btn,
btn-group > button.btn {
  border: solid 0.1rem var(--color-shade-bg-2);
  background-color: var(--color-shade-bg-1);
  color: var(--color-foreground);

  &.btn-danger {
    border-color: var(--color-error);

    &:hover,
    &:active,
    &:focus {
      border: solid 0.1rem var(--color-glow-primary);
      outline: none;
      box-shadow: none;
      background-color: transparent;
      transition: var(--transition-glow);
      color: var(--color-glow-primary);
      filter: var(--filter-glow-primary);
    }
  }

  &.btn-primary {
    border-color: var(--color-shade-fg-4);
    background-color: var(--color-neutral);

    &:hover,
    &:active,
    &:focus {
      border: solid 0.1rem var(--color-glow-primary);
      outline: none;
      box-shadow: none;
      background-color: transparent;
      transition: var(--transition-glow);
      color: var(--color-glow-primary);
      filter: var(--filter-glow-primary);
    }
  }

  &.btn-secondary {
    border-color: var(--color-shade-bg-2);
    background-color: var(--color-shade-bg-1);
    color: var(--color-foreground);

    &:hover,
    &:active,
    &:focus {
      border: solid 0.1rem var(--color-glow-secondary);
      outline: none;
      box-shadow: none;
      background-color: transparent;
      transition: var(--transition-glow);
      color: var(--color-glow-secondary);
      filter: var(--filter-glow-secondary);
    }
  }
}

.bg-success > a,
a.badge.bg-success,
.bg-primary > a,
a.badge.bg-primary,
.bg-secondary > a,
a.badge.bg-secondary,
.bg-warning > a,
a.badge.bg-warning,
.bg-info > a,
a.badge.bg-info,
.bg-light > a a.badge.bg-light {
  color: var(--color-shade-bg-1);
  & :hover {
    color: var(--color-shade-bg-1);
  }
}

.bg-danger a,
.bg-dark a {
  color: $state-danger-text;
}

.bg-primary,
.bg-secondary,
.bg-success,
.bg-warning,
.bg-info,
.bg-light {
  color: var(--color-shade-bg-1);
}

.bg-body,
.bg-dark {
  color: $body-color;
}

.navbar {
  background: $body-bg;
}

.navbar .icon-icon_angel {
  background-color: var(--color-glow-primary);
  text-decoration: none;
}

nav.navbar {
  a.navbar-brand {
    color: var(--color-glow-primary);
    text-decoration: none;
    font-family: 'Argon Glow', ui-sans, sans-serif;

    filter: var(--text-glow-primary);

    &:visited,
    &:focus,
    &:active,
    &:hover {
      color: var(--color-glow-primary);
      text-decoration: none;
    }
  }
}

ul.navbar-nav > li.nav-item > ul.dropdown-menu.show {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

ul.nav,
ul.navbar-nav,
ul.navbar-nav > li.nav-item > ul.dropdown-menu {
  gap: 0.5rem;

  > li.nav-item,
  > li {
    border-radius: 0.5rem;
    background-color: var(--color-shade-bg-1);
    transition: background-color 150ms;

    &.nav-item--userhints {
      margin: 0;
    }

    &:has(> a.nav-link.active),
    &:has(> a.dropdown-item.active) {
      background-color: var(--color-shade-bg-2);

      > a.nav-link,
      > a.dropdown-item {
        background-color: transparent;
        border-color: var(--color-shade-bg-4);
      }
    }

    > a.nav-link,
    > a.dropdown-item {
      border-radius: 0.5rem;
      border: solid 0.1em var(--color-shade-bg-1);
      padding: 0.4rem 1rem;
      color: var(--color-foreground);
      text-decoration: none;
      font-size: 1.2em;
      box-sizing: border-box;

      transition-property: filter, border-color;
      transition-duration: 400ms;
      transition-timing-function: ease-in;

      &:visited,
      &:focus,
      &:active,
      &:hover {
        background-color: transparent;
        outline: none;
        box-shadow: none;
        color: var(--color-foreground);
        text-decoration: none;
      }
    }

    &:hover,
    &:active,
    &:focus,
    &:focus-within,
    &:has(> a.nav-link.active):hover,
    &:has(> a.nav-link.active):active,
    &:has(> a.nav-link.active):focus,
    &:has(> a.nav-link.active):focus-within,
    &:has(> a.dropdown-item.active):hover,
    &:has(> a.dropdown-item.active):active,
    &:has(> a.dropdown-item.active):focus,
    &:has(> a.dropdown-item.active):focus-within {
      &.bg-danger {
        > a.nav-link,
        > a.dropdown-item {
          border-color: var(--color-glow-primary);
          filter: var(--filter-glow-primary);

          &:visited,
          &:focus,
          &:active,
          &:hover {
            color: var(--color-glow-primary);
          }
        }
      }

      &:not(.bg-danger) {
        > a.nav-link,
        > a.dropdown-item {
          filter: var(--filter-glow-secondary);
        }
      }

      > a.nav-link,
      > a.dropdown-item {
        border: solid 0.1em var(--color-glow-secondary);
        outline: none;
        box-shadow: none;
        background-color: transparent;
        transition: var(--transition-glow);

        &:visited,
        &:focus,
        &:active,
        &:hover {
          color: var(--color-glow-secondary);
          outline: none;
          box-shadow: none;
          text-decoration: none;
        }
      }
    }
  }
}

.nav-tabs,
.nav-pills,
.pager {
  a {
    color: var(--color-foreground);
    text-decoration: none;
  }
}

$choices-primary-color: var(--color-shade-bg-2);

div.choices__list--dropdown > div.choices__list > div.choices__item--selectable {
  background-color: transparent;
  color: var(--color-foreground);

  &.is-selected:not(.is-highlighted) {
    background-color: transparent; // again for longest prefix
    color: var(--color-glow-primary);
    filter: var(--text-glow-primary);
  }

  &.is-highlighted {
    &:before {
      background-color: var(--color-shade-bg-1);
    }

    background-color: transparent; // again for longest prefix
    color: var(--color-glow-secondary);
    filter: var(--text-glow-secondary);
    transition: var(--transition-glow);
  }
}

.popover {
  --bs-popover-body-padding-y: 0.5rem;
  --bs-popover-body-padding-x: 0.5rem;
}

.alert {
  --bs-alert-color: var(--color-foreground);

  &.alert-info,
  &.alert-warning,
  &.alert-danger,
  &.alert-success {
    border: none;
    border-left: solid 0.5rem var(--bs-alert-bg);
    background-color: var(--color-shade-bg-1);
  }

  &.alert-info a.text-danger {
    --bs-danger-rgb: var(--color-foreground);
  }
}

.shift-calendar .lane {
  background-color: $body-bg;
}

.choices:focus,
.choices.is-focused {
  .choices__list.choices__list--dropdown {
    border-color: var(--color-glow-primary);
  }

  .choices__inner {
    border-color: var(--color-glow-primary);
  }

  border-color: var(--color-glow-primary);
  outline: none;
  box-shadow: none;
  z-index: 1022;
  filter: var(--filter-glow-primary);
  transition: var(--transition-glow);
}

.form-control {
  border-color: var(--color-shade-fg-4);

  &.choices__inner {
    border-color: var(--color-shade-fg-4);
  }

  &:focus {
    border-color: var(--color-glow-primary);
    outline: none;
    box-shadow: none;
    filter: var(--filter-glow-primary);
    transition: var(--transition-glow);
  }
}

.form-check-input {
  border: solid 0.1rem var(--color-foreground);

  &:focus {
    border-color: var(--color-glow-primary);
    outline: none;
    box-shadow: none;
    filter: var(--filter-glow-primary);
    transition: var(--transition-glow);
  }

  &:checked {
    border-color: var(--color-glow-primary);
    filter: var(--filter-glow-primary);
    transition: var(--transition-glow);
  }
}

body::before {
  content: '';
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  mask-size: cover;
  mask-position: bottom right;
  mask-repeat: no-repeat;
  mask-origin: padding-box;
  mask-image: url('background.svg');
  background-color: var(--color-background-image);
}
