* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    sans-serif;
    font-size:
    14px;
}

header {
    display: block;
    width: 100%;
}

footer {
    clear: both;
    display: block;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 10px auto;
}

#logo {
    background: url('../pic/himmel.png') top left no-repeat;
    display: block;
    height: 32px;
    margin: 10px auto;
    width: 380px;
}

#body {
    margin: 0 5%;
}

#menu {
    float: left;
    width: 200px;
}

#content {
    margin-left: 200px;
}

a {
    color: #000;
}

td, dt, dd {
    padding: 4px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}

h1, h4 {
    font-size: 16px;
    padding: 0 4px;
}

hr {
	margin: 10px 0;
}

ul {
    padding: 5px 0 5px 20px;
}

nav {
    margin: 0 10px 10px 0;
}

#content article {
    padding: 10px;
}

p {
    padding: 0 0 10px 0;
}

#menu p {
    padding: 4px;
}

a.sprache img {
    margin-right: 5px;
}

table {
	border-collapse: collapse;
}

th {
	background: #f0f0f0;
}

td, th {
	border: 1px solid #888;
}

textarea {
	height: 200px;
	width: 300px;
}

.background {
    background: #f0f0f0;
}

.container {
    border: 1px solid #888;
}

.content {
    background: #fff;
}

.error {
	color: #f00;
}

.success {
	color: #090;
}

.notice {
	background: #f0f0f0;
	border: 2px solid #888;
	margin: 10px;
	padding: 10px;
}

.new_message {
	font-weight: bold;
}
