{% import 'macros/base.twig' as m %}

{% if config('locales')|length > 1 %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ m.icon('translate') }}
            <span>{{ session_get('locale')|split('_')[0]|upper }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            {{ menuLanguages()|join(" ")|raw }}
        </ul>
    </li>
{% endif %}
