@import "../vendor/bootstrap/less/bootstrap";

@icon-font-path: "../fonts/";

body {
  padding-top: 50px;
}

.footer a {
  color: @text-muted;
}

#shifts.table {
	td, th {
	  background-color: #f0f0f0;
	}
	
	.row-hour {
	  border-top-color: @gray-light;
	}
	
	td.shift {
	  height: 1px;
		padding: 0;
		
		.panel {
      margin: 0px 0px 0px 5px;
      overflow: hidden;
		}
  }
}

.row-day {
  border-top: 2px solid @gray-light;
}

.row-header {
  min-width: 90px;
}

.space-top {
  margin-top: 15px;
}

.messages {
  &:focus {
    outline: none;
  }
  a:focus {
    outline: none;
  }
}

.messages span.text-danger {
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
     transform: rotate(0deg);
  }
  10% {
     transform: rotate(5deg) translateY(-2px);
  }
  20% {
     transform: rotate(-5deg);
  }
    30% {
     transform: rotate(5deg) translateY(-2px);;
  }
    40% {
     transform: rotate(-5deg);
  }
    50% {
     transform: rotate(0deg) translateY(-2px);
  }
  75% {
    transform: rotate(0deg) translateY(0px);
  }
}

@-webkit-keyframes pulse {
  0% {
     transform: rotate(0deg);
  }
  10% {
     transform: rotate(5deg) translateY(-2px);
  }
  20% {
     transform: rotate(-5deg);
  }
    30% {
     transform: rotate(5deg) translateY(-2px);
  }
    40% {
     transform: rotate(-5deg);
  }
    50% {
     transform: rotate(0deg) translateY(-2px);
  }
  75% {
    transform: rotate(0deg) translateY(0px);
  }
}

@-moz-keyframes pulse {
  0% {
     transform: rotate(0deg);
  }
  10% {
     transform: rotate(5deg) translateY(-2px);
  }
  20% {
     transform: rotate(-5deg);
  }
    30% {
     transform: rotate(5deg) translateY(-2px);
  }
    40% {
     transform: rotate(-5deg);
  }
    50% {
     transform: rotate(0deg) translateY(-2px);
  }
  75% {
    transform: rotate(0deg) translateY(0px);
  }
}
