@import "../vendor/bootstrap/less/bootstrap";

@icon-font-path: "../vendor/bootstrap/fonts/";

body {
  padding-top: 50px;
}

.footer a {
  color: @text-muted;
}

#shifts {
  td {
    &.free {
      border: 1px solid @gray-light;
      .bg-danger();
    }
    &.occupied {
      border: 1px solid @gray-light;
      .bg-success();
    }
    &.collides {
      border: 1px solid @gray-light;
      .bg-warning();
    }
    &.own {
      border: 1px solid @gray-light;
    }
  }
}

.space-top {
  margin-top: 15px;
}
