Edit angel type:
<form action="%link%&action=save" method="post">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="name" value="%name%" />
            </td>
        </tr>
        <tr>
            <td>
                Man
            </td>
            <td>
                <input type="text" name="man" value="%man%" />
            </td>
        </tr>
    </table><input type="hidden" name="id" value="%id%" /><input type="submit" name="submit" value="Save" />
</form>
<form action="%link%&action=delete" method="post">
    <input type="hidden" name="id" value="%id%" /><input type="submit" name="submit" value="Delete" />
</form>