<p>
    Not yet answered questions:
</p>
<table>
    <thead>
        <tr>
            <th>
                From
            </th>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        %open_questions%
    </tbody>
</table>
<hr/>
<p>
    Answered questions:
</p>
<table>
    <thead>
        <tr>
            <th>
                From
            </th>
            <th>
                Question
            </th>
            <th>
                From
            </th>
            <th>
                Answer
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        %answered_questions%
    </tbody>
</table>
