<form action="%link%" method="post" enctype="multipart/form-data">
    <fieldset>
        %msg%
        <p>
            For Pentabarf import provide user/password and url-completion.
        </p>
		<p><label>Location:</label> %url%<input type="text" name="url" /></p>
        <p>
            <label>
                User:
            </label>
            <input type="text" name="user" value="" />
        </p>
        <p>
            <label>
                Password:
            </label>
            <input type="password" name="password" />
        </p>
        <p>
            Or provide a Xcal-file from pentabarf manually:
        </p>
        <p>
            <label>
                Xcal-file:
            </label>
            <input type="file" name="xcal_file" />
        </p>
        <p>
            <input type="submit" name="submit" value="Submit" />
        </p>
    </fieldset>
</form>