<form action="%link%" method="post">
    <p>
        Search Angel: <input type="text" name="search" value="%search%" /><input type="submit" name="submit" value="Search" />
    </p>
</form>
<table>
    <thead>
        <tr>
            <th>
                Nickname
            </th>
            <th>
                DECT
            </th>
            <th>
                Jabber
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        %table%
    </tbody>
</table>
