<p>
    Unbeantwortete Fragen:
</p>
<table>
    <thead>
        <tr>
            <th>
                Von
            </th>
            <th>
                Frage
            </th>
            <th>
                Antwort
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        %open_questions%
    </tbody>
</table>
<hr/>
<p>
    Beantwortete Fragen:
</p>
<table>
    <thead>
        <tr>
            <th>
                Von
            </th>
            <th>
                Frage
            </th>
            <th>
                Von
            </th>
            <th>
                Antwort
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        %answered_questions%
    </tbody>
</table>
