<form action="%link%" method="post">
    <p>
        Search Angel: <input type="text" name="search" value="%search%" /><input type="submit" name="submit" value="Search" />
    </p>
    <p>
        Mark <input type="text" name="count" value="%count%" style="width: 30px;"/>most working angels as active <input type="submit" name="set_active" value="Preview" />
    </p>
    <p>
        %set_active%
    </p>
</form>
%msg%
<table>
    <thead>
        <tr>
            <th>
                Nickname
            </th>
            <th>
                Shifts
            </th>
            <th>
                Length
            </th>
            <th>
                Active?
            </th>
            <th>
                T-shirt?
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        %table%
    </tbody>
</table>
