<div class="col-md-10">
  <h1>Fragen beantworten</h1>
  <h2>Unbeantwortete Fragen:</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Von</th>
        <th>Frage</th>
        <th>Antwort</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>%open_questions%
    </tbody>
  </table>
  <hr />
  <h2>Beantwortete Fragen:</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Von</th>
        <th>Frage</th>
        <th>Von</th>
        <th>Antwort</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>%answered_questions%
    </tbody>
  </table>
</div>