<p>
    <label>
        %type%:
    </label>
    <span class="spinner"><a id="type_%id%_down" href="#">-</a><input type="text" id="type_%id%" name="type_%id%" value="%value%" /><a id="type_%id%_up" href="#">+</a></span>
    <script type="text/javascript">
        document.getElementById("type_%id%_up").onclick = function(e){
            document.getElementById("type_%id%").value = (parseInt(document.getElementById("type_%id%").value) + 101) % 100;
        };
        document.getElementById("type_%id%_down").onclick = function(e){
            document.getElementById("type_%id%").value = (parseInt(document.getElementById("type_%id%").value) +99) % 100;
        };
    </script>
</p>
