Angel types:
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Man
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        %table%
    </tbody>
</table>
<hr />
<h2>Create new Angel type:</h2>
<form action="%link%&action=create" method="post">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Man
            </td>
            <td>
                <input type="text" name="man" value="" />
            </td>
        </tr>
    </table><input type="submit" name="submit" value="Create" />
</form>