<div class="col-md-10">
  <h1>Vorschau:</h1>
  <form action="" method="post">
    <table class="table">
      <thead>
        <tr>
          <th>Timeslot</th>
          <th>Entries</th>
        </tr>
      </thead>
      <tbody>%shifts_table%
      </tbody>
    </table>
    <p>
      <input type="submit" name="back" value="Zurück" /><input type="submit" name="submit" value="Erstellen" />
    </p>
    <input type="hidden" name="name" value="%name%" /> <input type="hidden" name="rid" value="%rid%" /> <input type="hidden" name="start" value="%start%" /> <input type="hidden" name="end" value="%end%" /> <input type="hidden" name="mode" value="%mode%" /> <input type="hidden" name="length"
      value="%length%" /> <input type="hidden" name="change_hours" value="%change_hours%" /> <input type="hidden" name="angelmode" value="%angelmode%" /> %needed_angel_types%
  </form>
</div>