Raum und dafür benötigte Engel bearbeiten: 
<br/>
<form action="%link%&action=changesave" method="post">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="Name" value="%name%" />
            </td>
        </tr>
        <tr>
            <td>
                Man
            </td>
            <td>
                <input type="text" name="Man" value="%man%" />
            </td>
        </tr>
        <tr>
            <td>
                From Pentabarf
            </td>
            <td>
                %from_pentabarf_options%
            </td>
        </tr>
        <tr>
            <td>
                Show
            </td>
            <td>
                %show_options%
            </td>
        </tr>
        <tr>
            <td>
                Number
            </td>
            <td>
                <input type="text" name="Number" value="%number%" />
            </td>
        </tr>
        <tr>
            <th>
                Angle Type
            </th>
            <th>
                Needed for this room
            </th>
        </tr>
        %angel_types%
    </table>
    <input type="hidden" name="RID" value="%room_id%" /><input type="submit" value="Save" />
</form>
<form action="%link%&action=delete" method="post">
    <input type="hidden" name="RID" value="%room_id%" /><input type="submit" value="Delete" />
</form>