<noscript>
    Diese Seite ist mit aktiviertem JavaScript sehr viel komfortabler.
</noscript>
<form action="" method="post">
    <fieldset>
        %msg%
        <p>
            <label>
                Name/Beschreibung:
            </label>
            <input type="text" name="name" value="%name%" />
        </p>
        <p>
            <label>
                Ort:
            </label>%room_select%
        </p>
        <p>
            <label>
                Beginn:
            </label>
            <input type="text" name="start" value="%start%" />
        </p>
        <p>
            <label>
                Ende:
            </label>
            <input type="text" name="end" value="%end%" />
        </p><h2>Modus:</h2>
        <p>
            <label>
                <input type="radio" name="mode" value="single" %mode_single_selected%/>
            </label>Eine Schicht erstellen.
        </p>
        <p>
            <label>
                <input type="radio" name="mode" id="multi_shifts" value="multi" %mode_multi_selected%/>
            </label>Mehrere Schichten erstellen:
        </p>
        <p>
            <label>
                Schichtlänge in Minuten:
            </label>
            <input type="text" name="length" value="%mode_multi_length%" onchange="document.getElementById('multi_shifts').checked = true;" />
        </p>
        <p>
            <label>
                <input type="radio" name="mode" id="var_multi_shifts" value="variable" %mode_variable_selected%/>
            </label>Mehrere Schichten mit variabler Länge erstellen:
        </p>
        <p>
            <label>
                Schichtwechsel-Stunden:
            </label>
            <input type="text" name="change_hours" style="width: 300px;" value="%mode_variable_hours%" onchange="document.getElementById('var_multi_shifts').checked = true;" />
        </p><h2>Benötigte Engel:</h2>
        <p>
            <label>
                <input type="radio" name="angelmode" value="location" %angelmode_location_selected%/>
            </label>Benötigte Engel vom Ort übernehmen.
        </p>
        <p>
            <label>
                <input type="radio" name="angelmode" id="manual_angelmode" value="manually" %angelmode_manually_selected%/>
            </label>Es werden folgende Engel benötigt:
        </p>%angel_types%
        <p>
            <input type="submit" name="preview" value="Vorschau" />
        </p>
    </fieldset>
</form>
