Neuen Raum einrichten: 
<br/>
<form action="%link%&action=newsave" method="post">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="Name" />
            </td>
        </tr>
        <tr>
            <td>
                Man
            </td>
            <td>
                <input type="text" name="Man" />
            </td>
        </tr>
        <tr>
            <td>
                From Pentabarf
            </td>
            <td>
                <input type="radio" name="FromPentabarf" value="Y" /> Yes <input type="radio" name="FromPentabarf" value="N" />No
            </td>
        </tr>
        <tr>
            <td>
                Show
            </td>
            <td>
                <input type="radio" name="Show" value="Y" /> Yes<input type="radio" name="Show" value="N" /> No
            </td>
        </tr>
        <tr>
            <td>
                Number
            </td>
            <td>
                <input type="text" name="Number" value="%number%" />
            </td>
        </tr>
    </table><input type="submit" value="Create" />
</form>