<form action="%link%&step=import" method="post">
    <fieldset>
        <h3>Rooms to create</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                %rooms_new%
            </tbody>
        </table>
        <h3>Rooms to delete</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                %rooms_deleted%
            </tbody>
        </table>
        <h3>Shifts to create</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        Day
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        End
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Room
                    </th>
                </tr>
            </thead>
            <tbody>
                %events_new%
            </tbody>
        </table>
        <h3>Shifts to update</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        Day
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        End
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Room
                    </th>
                </tr>
            </thead>
            <tbody>
                %events_updated%
            </tbody>
        </table>
        <h3>Shifts to delete</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        Day
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        End
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Room
                    </th>
                </tr>
            </thead>
            <tbody>
                %events_deleted%
            </tbody>
        </table>
        <input type="submit" name="submit" value="Submit" />
    </fieldset>
</form>