<tr>
  <td>%question_nick%</td>
  <td>%question%</td>
  <td>
    <form action="%link%&action=answer" method="post">
      <div class="form-group">
        <textarea class="form-control" name="answer"></textarea>
      </div>
      <input type="hidden" name="id" value="%question_id%" />
      <div class="form-group">
        <input class="btn btn-default" type="submit" name="submit" value="Speichern" />
      </div>
    </form>
  </td>
  <td><a href="%link%&action=delete&id=%question_id%">Löschen</a></td>
</tr>
