Edit FAQ:
<form action="%link%&action=save" method="post">
    <table>
        <tr>
            <td>
                Frage
            </td>
            <td>
                <textarea name="frage">%frage%</textarea>
            </td>
        </tr>
        <tr>
            <td>
                Antwort
            </td>
            <td>
                <textarea name="antwort">%antwort%</textarea>
            </td>
        </tr>
        <tr>
            <td>
                Question
            </td>
            <td>
                <textarea name="question">%question%</textarea>
            </td>
        </tr>
        <tr>
            <td>
                Answer
            </td>
            <td>
                <textarea name="answer">%answer%</textarea>
            </td>
        </tr>
    </table>
    <input type="hidden" name="id" value="%id%" /><input type="submit" name="submit" value="Save" />
</form><hr/>
<form action="%link%&action=delete" method="post">
    Delete FAQ: <input type="hidden" name="id" value="%id%" /><input type="submit" name="submit" value="Delete" />
</form>