<form action="%link%&action=save" method="post">
    <table>
        <thead>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            %privileges%
        </tbody>
    </table>
    <input type="hidden" name="id" value="%id%" /><input type="submit" name="submit" value="Save" />
</form>