<div class="forecast">
    <div class="upcoming-shifts">
        <div class="number">
            %number_upcoming_shifts%
        </div>
        <div class="description">
            Angels needed in the next 3 hrs
        </div>
    </div>
    <div class="upcoming-night-shifts">
        <div class="number">
            %number_upcoming_night_shifts%
        </div>
        <div class="description">
            Angels needed for nightshifts
        </div>
    </div>
    <div class="currently-working">
        <div class="number">
            %number_currently_working%
        </div>
        <div class="description">
            Angels currently working
        </div>
    </div>
    <div class="hours-worked">
        <div class="number info">
            %number_hours_worked%
        </div>
        <div class="description">
            Hours to be worked
        </div>
    </div>
</div>

<div class="row">
    <section class="job-list">
        <h1 class="header-jobs-running">Currently running</h1>
        <div class="jobs-running">Currently running</div>
    </section>

    <section class="job-list">
        <h1 class="header-jobs-now">Within the next hour</h1>
        <div class="jobs-now">Jobs now will be displayed here</div>
        <h1 class="header-jobs-soon">Within the next 3 hours</h1>
        <div class="jobs-soon"> Jobs soon will be displayed here</div>
    </section>
    <section class="talks">
        <div class="clock well">??:??:??</div>
        <h1>Current Talks</h1>
        <ul class="current-talks-list">
            <li>one of the current talks</li>
        </ul>

        <h1>Next Talks</h1>
        <ul class="next-talks-list">
            <li>On of the next talks</li>
        </ul>
    </section>
    <section class="next-talks"></section>
    <section class="news"></section>
</div>

