<div class="forecast">
    <div class="upcoming-shifts">
        <div class="number">
            %number_upcoming_shifts%
        </div>
        <div class="description">
            Angels needed in the next 3 hrs
        </div>
    </div>
    <div class="upcoming-night-shifts">
        <div class="number">
            %number_upcoming_night_shifts%
        </div>
        <div class="description">
            Angels needed for nightshifts
        </div>
    </div>
    <div class="currently-working">
        <div class="number">
            %number_currently_working%
        </div>
        <div class="description">
            Angels currently working
        </div>
    </div>
    <div class="hours-worked">
        <div class="number info">
            %number_hours_worked%
        </div>
        <div class="description">
            Hours to be worked
        </div>
    </div>
</div>

<div class="row">
    <section class="job-list">
        <h1 class="header-jobs-running">Currently running</h1>
        <div class="jobs-running">
            %jobs_currently_running%
        </div>
    </section>

    <section class="job-list">
        <h1 class="header-jobs-now">Within the next hour</h1>
        <div class="jobs-now">
            %jobs_now%
        </div>

        <h1 class="header-jobs-soon">Within the next 3 hours</h1>
        <div class="jobs-soon">
            %jobs_soon%
        </div>
    </section>
    <section class="talks">
        <div class="clock well" id="clockDisplay">??:??:??</div>
    </section>
    <section class="news">
        <h1>News</h1>
        %news%
    </section>
</div>

<script>
    function renderTime() {
        var currentTime = new Date();
        var diem = "AM";
        var h = currentTime.getHours();
        var m = currentTime.getMinutes();
        var s = currentTime.getSeconds();
        setTimeout('renderTime()',1000);
        if (h == 0) {
            h = 12;
        } else if (h > 12) {
            h = h - 12;
            diem="PM";
        }
        if (h < 10) {
            h = "0" + h;
        }
        if (m < 10) {
            m = "0" + m;
        }
        if (s < 10) {
            s = "0" + s;
        }
        var myClock = document.getElementById('clockDisplay');
        myClock.textContent = h + ":" + m + ":" + s + " " + diem;
        myClock.innerText = h + ":" + m + ":" + s + " " + diem;
    }
    renderTime();
</script>

