<div class="row forecast">
    <div class="upcoming-shifts">
        %number_upcoming_shifts%
    </div>
    <div class="upcoming-night-shifts">
        %number_upcoming_night_shifts%
    </div>
    <div class="currently-working">
        %number_currently_working%
    </div>
    <div class="hours-worked">
        %number_hours_worked%
    </div>
</div>

<div class="row blocks">
    <section class="job-list">
        %jobs_currently_running%
    </section>

    <section class="job-list">
        %jobs_now%
        %jobs_soon%
    </section>
    <section class="news">
        <div class="clock well" id="clockDisplay">??:??:??</div>
        %news%
    </section>
</div>

<script>
    function renderTime() {
        var currentTime = new Date();
        var diem = "AM";
        var h = currentTime.getHours();
        var m = currentTime.getMinutes();
        var s = currentTime.getSeconds();
        setTimeout('renderTime()',1000);
        if (h == 0) {
            h = 12;
        } else if (h > 12) {
            h = h - 12;
            diem="PM";
        }
        if (h < 10) {
            h = "0" + h;
        }
        if (m < 10) {
            m = "0" + m;
        }
        if (s < 10) {
            s = "0" + s;
        }
        var myClock = document.getElementById('clockDisplay');
        myClock.textContent = h + ":" + m + ":" + s + " " + diem;
        myClock.innerText = h + ":" + m + ":" + s + " " + diem;
    }
    renderTime();
</script>

