<div class="container">
<h1>Credits</h1>
  <div class="row">
    <div class="col-md-4">
      <h2>Source code</h2>
      <p>
        The original system was written by <a href="https://github.com/cookieBerlin/engelsystem">cookie</a>. It was then completely rewritten and greatly enhanced by <a href="http://notrademark.de/">msquare</a> and <a href="http://mortzu.de/">mortzu</a> of <a href="http://planetcyborg.de">planet
          cyborg</a>, <a href="http://jplitza.de/">jplitza</a> and gnomus.
        It was modified for the ZaPF in Berlin by <a href="https://github.com/janluca">JanLuca</a>.
      </p>
      <p>
        Please look at the <a href="https://github.com/engelsystem/engelsystem/graphs/contributors">contributor list on github</a> for a more complete version.
      </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2>Translation</h2>
      <p>
        Many thanks for the german translation: <a href="http://e7p.de">e7p</a>
      </p>
    </div>
  </div>
</div>