<form action="%link%" method="post">
    <table>
        <tr>
            <td align="right">
                %nick%
            </td>
            <td>
                <input type="text" name="user" size="23" />
            </td>
        </tr>
        <tr>
            <td align="right">
                %pass%
            </td>
            <td>
                <input type="password" name="password" size="23">
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" name="login_submit" value="%send%">
</form>