<!DOCTYPE html>
<html lang="%locale%">
<head>
    <title>%title% - Engelsystem</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/theme%theme%.css"/>
    <script type="text/javascript" src="assets/vendor.js"></script>
    %atom_link%
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="%start_page_url%">
                <span class="icon-icon_angel"></span> <strong class="visible-lg-inline">ENGELSYSTEM</strong>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">%menu% %header_toolbar%</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">%content%</div>
    <div class="row" id="footer">
        <div class="col-md-12">
            <hr/>
            <div class="text-center footer" style="margin-bottom: 10px;">
                %event_info%
                <a href="%faq_url%">FAQ</a>
                · <a href="%contact_email%"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
                · <a href="https://github.com/engelsystem/engelsystem/issues">Bugs / Features</a>
                · <a href="https://github.com/engelsystem/engelsystem/">Development Platform</a>
                · <a href="%credits_url%">Credits</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
