<p>
    Not yet answered questions:
</p>
<table>
    <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        %open_questions%
    </tbody>
</table>
<hr/>
<p>
    Answered questions:
</p>
<table>
    <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                From
            </th>
            <th>
                Answer
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        %answered_questions%
    </tbody>
</table>
<hr/>
<p>
    Ask an arch angel:
</p>
<form action="%link%&action=ask" method="post">
    <table>
        <tr>
            <td>
                Question:
            </td>
            <td>
                <textarea name="question"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" name="submit" value="Ask" />
</form>