<form action="" type="get">
<fieldset class="form" id="filter"><legend>Filter</legend>
<input type="hidden" name="p" value="user_shifts">
%room_select%
%type_select%
%day_select%
%filled_select%
<input class="button" type="submit" style="width: 100%;" value="Filtern">
</fieldset>
</form>

<table>
    <thead>
        <tr>
            <th>
                Zeit/Raum
            </th>
            <th>
                Einträge
            </th>
        </tr>
    </thead>
    <tbody>
        %shifts_table%
    </tbody>
</table>
<h2>iCal Export</h2>
<p>
    Zum abonnieren in Deiner Kalender-Software benutze folgenden öffentlichen Link (daher bitte geheimhalten, im Notfall Deinen <a href="%reset_link%">Key zurücksetzen</a>):
    <br/>
	<a href="%ical_link%">%ical_link%</a>
</p>
