<p>
%intro%
</p>
%msg%
<table>
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Zeit
            </th>
            <th>
                Ort
            </th>
            <th>
                Name
            </th>
            <th>
                Kommentar
            </th>
            <th>
                Aktion
            </th>
        </tr>
    </thead>
    <tbody>
        %shifts%
    </tbody>
</table>
<hr />
<h2>iCal Export</h2>
<p>
    %ical_text%
</p>
