<form action="" method="post">
    <fieldset>
        <p>
            <label>
                Angel:
            </label>
            %angel%
        </p>
        <p>
            <label>
                Date/Duration:
            </label>
            %date%
        </p>
        <p>
            <label>
                Location:
            </label>
            %location%
        </p>
        <p>
            <label>
                Title:
            </label>
            %title%
        </p>
        <p>
            <label>
                Type:
            </label>
            %type%
        </p>
        <p>
            <label>
                Comment:
                <br/>
                (For your eyes only)
            </label>
            <textarea name="comment"></textarea>
        </p>
        <p>
            <input type="submit" name="submit" value="Send" />
        </p>
    </fieldset>
</form>