<p>
    Hier sind Deine Schichten.
    <br/>
    Versuche bitte <b>15 Minuten</b>
    vor Schichtbeginn anwesend zu sein!
    <br/>
    Du kannst Dich %h% Stunden vor Schichtbeginn noch aus Schichten wieder austragen.
</p>
%msg%
<table>
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Zeit
            </th>
            <th>
                Ort
            </th>
            <th>
                Name
            </th>
            <th>
                Kommentar
            </th>
            <th>
                Aktion
            </th>
        </tr>
    </thead>
    <tbody>
        %shifts%
    </tbody>
</table>
<hr />
<h2>iCal Export</h2>
<p>
    Zum abonnieren in Deiner Kalender-Software benutze folgenden öffentlichen Link (daher bitte geheimhalten, im Notfall Deinen <a href="%reset_link%">Key zurücksetzen</a>):
    <br/>
	<a href="%ical_link%">%ical_link%</a>
</p>
