<form action="%wakeup_link%&amp;action=create" method="post">
    <table>
        <tr>
            <td align="right">
                %date_text%: 
            </td>
            <td>
                <input type="text" name="Date" value="%date_value%">
            </td>
        </tr>
        <tr>
            <td align="right">
                %place_text% 
            </td>
            <td>
                <input type="text" name="Ort" value="">
            </td>
        </tr>
        <tr>
            <td align="right">
                %comment_text% 
            </td>
            <td>
                <textarea name="Bemerkung" rows="5" cols="40">%comment_value%</textarea>
            </td>
        </tr>
    </table>
    <input type="submit" name="submit" value="%submit_text%" />
</form>