<p>
    Hi,
    <br/>
    here are the shifts you have signed up for.
    <br/>
    Please try to arrive for your shift on time. <b>Be punctual!</b>
    <br/>
    Here you can remove yourself from a shift up to %h% hours before your shift is scheduled to begin.
</p>
%msg%
<table>
    <thead>
        <tr>
            <th>
                Day
            </th>
            <th>
                Time
            </th>
            <th>
                Location
            </th>
            <th>
                Name
            </th>
            <th>
                Comment
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        %shifts%
    </tbody>
</table>
