<form action="" method="post">
    <fieldset>
        <p>
            <label>
                Helfer:
            </label>
            %angel%
        </p>
        <p>
            <label>
                Datum/Dauer:
            </label>
            %date%
        </p>
        <p>
            <label>
                Ort:
            </label>
            %location%
        </p>
        <p>
            <label>
                Titel:
            </label>
            %title%
        </p>
        <p>
            <label>
                Typ:
            </label>
            %type%
        </p>
        <p>
            <label>
                Kommentar:
                <br/>
                (Nur für Dich)
            </label>
            <textarea name="comment">%comment%</textarea>
        </p>
        <p>
            <input type="submit" name="submit" value="Speichern" />
        </p>
    </fieldset>
</form>