<noscript>
    Diese Seite ist mit aktiviertem JavaScript sehr viel komfortabler.
</noscript>
<form action="" method="post">
    <fieldset>
        %msg%
        <p>
            <label>
                Name/Beschreibung:
            </label>
            <input type="text" name="name" value="%name%" />
        </p>
        <p>
            <label>
                Ort:
            </label>%room_select%
        </p>
        <p>
            <label>
                Beginn:
            </label>
            <input type="text" name="start" value="%start%" />
        </p>
        <p>
            <label>
                Ende:
            </label>
            <input type="text" name="end" value="%end%" />
        </p><h2>Benötigte Engel:</h2>
        %angel_types%
        <p>
            <input type="submit" name="submit" value="Speichern" />
        </p>
    </fieldset>
</form>