<form action="#shifts" type="get">
<fieldset class="form" id="filter"><legend>Filter</legend>
<div>
%start_select% <input type="time" name="start_time" size="5" pattern="^\d{1,2}:\d{2}$" placeholder="HH:MM" maxlength="5" value="%start_time%">
&#8211; %end_select% <input type="time" name="end_time" size="5" pattern="^\d{1,2}:\d{2}$" placeholder="HH:MM" maxlength="5" value="%end_time%">
</div>
<input type="hidden" name="p" value="user_shifts">
%room_select%
%type_select%
%filled_select%
<div>%task_notice%</div>
<div>%new_style_checkbox%</div>
<input class="button" type="submit" style="width: 100%;" value="%filter%">
</fieldset>
</form>

%shifts_table%

<h2>iCal Export</h2>
<p>
    %ical_text%
</p>
