<!DOCTYPE html>
<html>
<head>
    <title>Maintenance - %APP_NAME%</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="%ASSETS_PATH%/assets/theme0.css"/>
    <script type="text/javascript" src="%ASSETS_PATH%/assets/vendor.js"></script>
</head>
<body>
<div class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="icon-icon_angel"></span> <strong class="visible-lg-inline">%APP_NAME%</strong>
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="container text-center">
        <h1 class="mb-4">
            <span class="bi bi-scissors"></span>
            <span class="bi bi-wrench"></span>
            <span class="bi bi-cloud-lightning-rain"></span>
        </h1>
        <div class="row">
            <div class="col-xl-6">
                <h2>
                    The <span class="icon-icon_angel"></span> <strong>%APP_NAME%</strong> is in maintenance mode.
                </h2>
                <p>This may be due to...</p>
                <p>
                    ...archangels closing the gates of heaven. <br>
                    ...somebody's stolen the power chord and now the battery is empty. <br>
                    ...DHCP decided to give me another ip address.
                </p>
            </div>
            <div class="col-xl-6">
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/0aV_vHcunSQ?rel=0"
                        frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center footer my-5">
                <a href="https://github.com/engelsystem/engelsystem/issues">Bugs / Features</a>
                · <a href="https://github.com/engelsystem/engelsystem/">Development Platform</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
