<form class="form-inline" action="">
    <input type="hidden" name="p" value="user_shifts">
    <div class="row">
        <div class="col-md-6">
            <h1>%title%</h1>
            <div class="row align-items-center">
                <div class="col-12 col-xxl-5 row pe-xxl-0">
                    <div class="col-6 pe-xxl-0">%start_select%</div>
                    <div class="col-6">
                        <div class="input-group time" data-target-input="nearest">
                            <input
                                type="time" class="form-control" id="start_time" name="start_time" size="5"
                                pattern="^\d{1,2}:\d{2}$" placeholder="HH:MM" maxlength="5" value="%start_time%"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-secondary" title="Now" type="button">
                                    <span class="bi bi-clock"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xxl-1 text-center px-xxl-0">&#8211;</div>
                <div class="col-12 col-xxl-5 row px-xxl-0">
                    <div class="col-6 pe-xxl-0">%end_select%</div>
                    <div class="col-6">
                        <div class="input-group time" data-target-input="nearest">
                            <input
                                type="time" class="form-control" id="end_time" name="end_time" size="5"
                                pattern="^\d{1,2}:\d{2}$" placeholder="HH:MM" maxlength="5" value="%end_time%"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-secondary" title="Now" type="button">
                                    <span class="bi bi-clock"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group d-print-none" style="margin-top: .5em">
                <div class="btn-group mb-1">
                    <a href="javascript:setDay(-1)" class="btn btn-secondary ">%set_yesterday%</a>
                    <a href="javascript:setDay()" class="btn btn-secondary ">%set_today%</a>
                    <a href="javascript:setDay(1)" class="btn btn-secondary ">%set_tomorrow%</a>
                </div>
                <div class="btn-group mb-1">
                    <a href="javascript:setHours(-8)" class="btn btn-secondary ">%set_last_8h%</a>
                    <a href="javascript:setHours(-4)" class="btn btn-secondary ">%set_last_4h%</a>
                    <a href="javascript:setHours(4)" class="btn btn-secondary ">%set_next_4h%</a>
                    <a href="javascript:setHours(8)" class="btn btn-secondary ">%set_next_8h%</a>
                </div>
                <div class="btn-group mb-1">
                    %buttons%
                </div>
            </div>
            <div class="row d-print-none">
                <div class="col-md-12">
                    <input class="btn btn-primary" type="submit" style="width:100%; margin: 1em 0" value="%filter%">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-info btn-sm mb-3 d-print-none" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseShiftsFilterSelect"
                    aria-expanded="true" aria-controls="collapseShiftsFilterSelect"
            >
                %filter_toggle%
            </button>

            <div class="collapse show d-print-none" id="collapseShiftsFilterSelect">
                <div class="row">
                    <div class="col col-xs-4 col-xxs-12">%room_select%</div>
                    <div class="col col-xs-4 col-xxs-12">%type_select%</div>
                    <div class="col col-xs-4 col-xxs-12">%filled_select%</div>
                </div>
                <div class="row">
                    <div class="col col-md-12 m-1">
                        <p>%task_notice%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

%shifts_table%

<div class="d-print-none">
    %ical_text%
</div>
