
body {
	font-family: Arial;
	background-color: #3e9fef;
	color: #000000;
	font-size: small
}

a {
	text-decoration: none;
	color: #304930
}

td {
	font-size: small
}

a:active, a:hover {
	font-weight: bold
}
	
li {
	font-size: small
}

.content {
	background-color: #bdd9ef;
	color: #000000
}

.contenttopic {
	font-weight: bold;
	font-size: small;
	color: #fe961e;
	background-color: #157cc1
}

.border {
	background-color: #050509
}

.menu {
	background-color: #bdd9ef;
	color: #000022;
	font-size: small
}
h4.menu { 
	font-weight: bold;
	font-size: small;
	color: #3e9fef
}

.linkbox {
	background-color: #ffffff
}

.linkboxtitle {
	font-weight: bold;
	background-color: #000000;
	color: #bdd9ef
}

.question {
	font-weight: bold;
	font-size: 9pt
}

.engeltreffen {
        font-weight: bold;
        font-size: 9pt;
	color: #ff0000;
}

.answer {
	font-size:  9pt;
}
.comment {
	font-size : 6pt;
}
